$purple: rgb(134, 7, 214);
$turquoise: rgb(236, 32, 137);
$pink: rgb(125, 54, 139);
$lime: rgb(236, 101, 165);
$medium-grey: rgb(134, 134, 134);
$dark-grey: rgb(87, 87, 86);
// Temporary : remove after layout
$lighter-grey: rgb(242, 242, 242);
$white: rgb(255, 255, 255);
$black: rgb(49, 49, 49);
$light-grey: rgb(189, 204, 212);
$silver: rgb(152, 152, 152);
$mid-grey: #DEDEDE;
$blue: rgb(0, 113, 185);
$grey: rgb(101, 101, 101);
$dark-green: rgb(0, 101, 50);
$gold: #FF9933;
