.mole {

  .hole {
    height: 70px;
    background: transparent url(../images/hole-bg.png) center center no-repeat;
    background-size: contain;
  }

  .person {
    min-height: 120px;

    img {
      position: absolute;
      bottom: 30px;
      left: 37%;
      height: 120px;
      -webkit-transition-property: top, bottom, opacity;
      -webkit-transition-duration: 0.5s;
      opacity: 0;
    }

    &.active {
      img {
        opacity: 1;
        bottom: 100px;
      }
    }

  }

  .task {
    font-family: "Bangers", sans-serif;
    color: purple;
  }
}
